article {
	width: 50%;
	--r-color: 0;
	--g-color: 0;
	--b-color: 0;
}
.table > div{
	height: 4em;
}
#profile_selector_box, #profile_editor_box {
	text-shadow: none;
	white-space: nowrap;
}
#profile_selector, #profile_editor {
	max-width: 250px;
	text-overflow: ellipsis;
	padding: 0.1rem 0.6rem 0.1rem 0.6rem;
	text-align: left;
	width: auto;
	transform: none;
	border-radius: 50vh;
}
#profile_selector {
	margin-left: 5px;
}
#profile_editor {
	margin-right: 5px;
}
#profile_editor_box {
	z-index: 2;
}
#profile_editor_box .tsastyle-cancel{
	color: #d99b9b;
}
.toolbox{
	color: #9cd9b0;
	background-color: #20855b;
}
#marker {
	position: relative;
}
#marker > div{
	position: relative;
	display: inline-block;
	background-color: currentColor;
	width: 1.1em;
	height: 1.1em;
	border-radius: 50%;
	vertical-align: middle;
}
#marker > div > div{
	position: absolute;
	width: 60%;
	height: 60%;
	border-radius: 50%;
}
#marker input[type=color]{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	opacity: 0;
	cursor: pointer;
}
input[type=text], input[type=button], select {
	width: 100%;
	padding: 0.6rem;
	-webkit-transition: all 0.30s ease-in-out;
	color: #393939;
	border-radius: var(--base-radius);
	border:1px solid #a0a0a0;
	font-size: 1rem;
	outline: none;
	box-sizing: border-box;
}
:is(input, select):hover,
input[type=text]:focus{
	box-shadow: 0 0 5px #00000080;
}
input::-webkit-input-placeholder{
	color: #a1a1a1;
}
input[type=button]:active{
	position: relative;
	top: 2px;
}
input[type=checkbox]{
	width: 1.3em;
	height: 1.3em;
	border-radius: var(--base-radius);
	vertical-align: middle;
	/* accent-color: #9cd9b0; */
}
.cover{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color : black;
	opacity :0.2;
	z-index: 1000;
}