body {
	margin: 1px;
	max-width: 400px;
	min-width: 200px;
	background-color: #eee; 
}

.item {
	display: flex;
	padding: 14px;
	font-size: 14px;
	cursor: pointer;
	/* color: gray; */
}

.header {
	color: #E0FFFF;	
	background-color: #008000;
	text-shadow: 1px 1px 2px black, 0 0 1em red; 
}

.selected {
	border-style: solid;  
	border-radius: 5px;
	border-width: 2px;
	border-color: gray;
	background-color: #ddd;
	/* font-size: 16px; */
	/* font-weight: 500;	 */
}

.profiles {
	padding-top: 2px;
	padding-bottom: 2px;
}

.item:hover {
	border-radius: 5px;
}

.profiles .item:hover {
	background-color: #ddd;
}

.profiles  i{
	font-size: 8px;
}

.profiles .selected i{
	font-size: 14px;
}

.markerbox{
	width: 14px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.item span{
	padding-left: 10px;
}