html, body {
	height: 100%;
	margin: 0;
}

article {
	width: 95%;
	height: 100%;
	min-width: 640px;
	display: flex;
	flex-direction: column;
	margin:0 auto;
}

header, footer {
	display: flex;
	height: 3em;
	padding-left: 2em;
	padding-right: 2em;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px #777;
}

header > :first-child:before {
	color:inherit;
	padding-right: 0.5em;
	padding-bottom: 0.125em;
	font-size: 100%;

}

.centered{
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
	position: relative;
	flex: 1;
	overflow: auto;
	padding: 2rem;
}

header a, footer a{
	color: var(--base-color);
}

a {
	font-style: italic;
}

blockquote {
	padding: 0 1em;
	margin-top: 0;
	margin-bottom: 0;
	color: #57606a;
	border-left-color: rgb(208, 215, 222);
	border-left-style: solid;
	border-left-width: 4px;
}

li{
	padding-bottom: 0.8em;
}

dl, ul {
	margin: 0;
}

dt{
	font-weight: bold;
	color: gray;
	padding-top: 1em;

}

dd {
	margin-left: 5em;
	display: list-item;
	list-style-type: "•";
	padding-inline-start: 1ch;
	padding-bottom: 0.5em;
}

.table{
	display: table;
}

.table > div:not(.invis){
	display: table-row;
}
.table > div > *{
	display: table-cell;
	vertical-align: middle;
}
.table > div > :first-child{
	white-space: nowrap;
	padding-right: 0.5em;
}
.table > div > :last-child{
	width: 100%;
	padding-left: 0.5em;
}

.toolbox{
	display: inline-flex;
	align-items: center;
	height: 32px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;
	white-space: nowrap;
	user-select: none;
}

.toolbox, .toolbox:before{
	border: 1px solid rgba(var(--r-color),var(--g-color),var(--b-color),0.2);
	border-radius: 50vh;
	background-color: inherit;
}

.toolbox:hover {
	filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
}

.toolbox > * {
	text-align: center;
	line-height: 1em;
	cursor: pointer;
	width: 1.6em;
	text-decoration: none;
}

.toolbox > *:hover {
	transform: scale(1.3);
}

.toolbox > *:active {
	transform: scale(0.8);
}

.invis{
	display: none;
}